.navbar {
  height: 6rem;
  width: 100%;
  background-color: var(--tertiary);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  .wrapper {
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 2.5rem;
      color: var(--active);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .right {
      display: flex;
      gap: 2rem;
      button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 1.6rem;
        .icon {
          font-size: 1.8rem;
          color: var(--text);
        }
        &:nth-child(1) {
          background-color: transparent;
          border-color: var(--active);
          &:hover {
            background-color: var(--active);
          }
        }
      }
      .user_name {
        color: var(--text);
        margin: auto 0;
        p {
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
    }
  }
}


@media screen and (max-width: 650px) {
 .navbar{
  .wrapper{
    .logo{
      font-size: 1.6rem;
    }
    .right{
      button{
        font-size: 1.4rem;
        &:nth-child(1){
          display: none;
        }
      }
      .user_name{
        p{
          font-size: 1.3rem;
        }
      }
    }
  }
 }
}