html,body{
  background-color: var(--primary);
}
// .routes{
//   border: 1px solid red;
// }
button {
  font-size: 1.5rem;
  border: none;
  color: var(--btnText);
  cursor: pointer;
  background-color: var(--active);
  border: 1px solid var(--primary);
  &:hover {
    background-color: transparent;
    border-color: var(--active);
  }
}

input,
textarea,
select {
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  color: var(--text);
  border-radius: 0.3rem;
}

input::placeholder {
  font-size: 1.5rem;
}

select {
  font-size: 1.5rem;
  option {
    background: var(--secondary);
    font-size: 1.5rem;
    padding: 0.5rem;
    &:checked {
      background-color: var(--primary);
    }
  }
}

.toaster {
  font-size: 50px;
}
