:root {
  --headerBg: #1d2d50;
  --primary: #1d2d50;
  --secondary: #133b5cd5;
  --tertiary: #133b5c;
  --active: rgb(26, 167, 223);
  --dark: rgba(236, 209, 209, 0.815);
  --border-color: #707070;
  --text: #f3f2ed;
  --textSoft: #fffafa;
  --btnText: #fff;
  --headertxt: #fff;
  --padding: 6rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  // color: var(--text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
